body{
    margin:0px;
    padding:0px;
}
    /* Header */
.banner{
    color:#727272;
    border-bottom:1px solid #7272721c;
}
.leftHeader, .rightHeader{
    display:flex;
    justify-content: center;
    padding:20px 0px;
}
.leftHeader>p{
    margin-right:10px;
    padding:6px 10px;
}
.listUl{
    display: flex;
    justify-content: center;
}
.listUl>li{
    margin-left:10px;
    padding:6px 10px;
}
.listUl>li>a{
    transition: all 0.6s;
    color:#727272;
}
.listUl>li>a:link{
    text-decoration: none;
}
.listUl>li>a:hover{
    text-decoration: none;
    color:black;
    cursor: pointer;
}
.listUl>li:nth-child(1), .listUl>li:nth-child(2) {
    border-right:1px solid #727272;
    padding: 6px 10px;
}
    /* Main */
    /* Logo Part */
    .logoPart, .listPart{
        padding:20px 0px;
        display:flex;
        justify-content: center;
    }
    .logoPart img{
        width:100%;
        height:100%;
    }
    .logoPart img:hover{
        cursor: pointer;
    }
        /* topnav */
    .listPart {
        overflow: hidden;
        }
        .listPart>a{
        float: left;
        display: block;
        color:rgba(34, 34, 34, 0.781);
        text-align: center;
        padding: 14px 10px;
        text-decoration: none;
        font-size: 17px;
        }
        .listPart>a:hover{
        color: #fd602c;
        }
        .active{
        color: #fd602c !important;
    }
        .listPart>.icon {
        display: none;
        color:#666;
    }
        .listPart.responsive a {
        float: none;
        display: block;
    }
.imagePart{
    width:100%;
    height:250px;
    overflow: hidden;
}
.imagePart>img{
    width:100%;
    position: relative;
}
.greyLight{
    width:100%;
    height:100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.37);
    z-index: 3;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
}
.greyLight>h1{
    font-size:27px;
    font-weight: bold;
}
.greyLight>p{
    font-size:18px;
    margin-top:1%;
}
.comeBack{
    width:100%;
    border-bottom:1px solid #7272721c;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.comeBack>h1{
    font-size:25px;
}
.comeBack>ul{
    display: flex;
    color:#727272;
}
.comeBack>ul>li>a{
    color:black;
    text-decoration:none;
}
.image-container{
    width:100%;
    height:470px;
    margin-top:2%;
}
.image-container>img{
    width:100%;
    height:100%;
}
.text-container{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height:470px;
    margin-top:2%;
}
.text-container>p{
    margin-bottom:5%;
    font-size: 18px;
    color:#727272;
}
.text-container>p:nth-child(1){
    font-size: 100%;
    color: #fd602c;
}
.readMore{
    width:18%;
    padding:1.5% 3.2%;
    text-decoration: none;
    color:white;
    background-color: #fd602c;
    text-align: center;
    transition: all 0.5s;
}
.readMore:hover{
    background-color: black;
}
/* Parallax */
.parallax{
    width:100%;
    height:450px;
    background-image: url("../img/parallax12.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.effect{
    position: absolute;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.589);
    z-index: 2;
}
.innerParallax{
    width:100%;
    height:400px;
    color:white;
    overflow: hidden;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.innerParallax>p{
    font-size:21px;
    margin:2%;
}
.innerParallax>p>span{
    color:#fd602c;
}
.innerParallax>h1{
    font-size:40px;
}
.paraBtn{
    width:10%;
    padding:1%;
    border-radius:3px;
}
/* Accordion */
.accord{
    width:100%;
    height:300px;
    margin-top:5%;
}
.accordFirst{
    display:flex;
    flex-direction:column;
}
.accord-row{
    display:flex;
    justify-content: center;
}
.sameHead{
    font-size:23px;
}
.accordion-section{
  background-color: #f6f6f6
}
.accordion {
    background-color: #fff;
    color: #444;
    cursor: pointer;
    padding: 5%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    display:flex;
    justify-content: flex-start
  }
  .accordion:before {
    content: '+';
    color: #777;
    font-weight: bold;
    margin-right:5%;
  }
  .active:before {
    content: "-";
  }
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: all 0.4s;
    color: #727272;
  }
.loading{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.loading h1{
    margin-bottom:3% !important;
}
.load{
    width:100%;
    height:11%;
    background-color: #fff;
}
.load>div{
    background-color:#fd602c;
    height:100%;
    display:flex;
    align-items: center;
    color:white;
    font-size:14px;
    padding-left:5%;

}
.java{
    width:80%;
}
.shop{
    width:90%
}
.design{
    width:70%
}
.graphy{
    width:75%
}
/* Mini Slider */
.slider {
    position: relative;
    height:90%;
    width: 100%;
    overflow: hidden;
}
.mainSlider{
    position: relative;
    height: 100%;
    width:100%;
    transition: all 0.7s;
}
.slider .slidePart {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider .slidePart img {
    width: 100%;
    height: 100%;
}
.sliderBtn{
    border: none;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}
.sliderBtn.nextBtn{
    margin-left:20px;
} 
.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    background-color:#727272;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    z-index: 5;
  }
  .slideAccord>div:nth-child(1){
      width:100%;
      height:13%;
  }
  .firstAnket, .secondAnket{ 
      width:100%;
      height:87%;
  }
  .topAnket{
      width:100%;
      height:40%;
      color:#727272;
      background-color: #fff;
      font-size:16px;
      display:flex;
      justify-content: center;
      align-items: center;
      padding: 0% 5%;
      position: relative;
  }
  .rotateDiv{
      position: absolute;
      width:20px;
      height:20px;
      background-color: white;
      transform:translate(330%,190%) rotate(45deg);
  }
  .bottomAnket{
      width:100%;
      height:60%;
      display: flex;
  }
  .user-picture{
      width:50%;
      height:100%;
  }
  .user-picture>div{
      width:80%;
      height:80%;
      border:7px solid #fd602c;
      border-radius:50%;
      overflow: hidden;
  }
  .user-info{
    width:50%;
    height:100%;
    padding-top:3%;
}
.user-info>h6{
    font-size:21px;
}
.user-info>p{
    font-size:15px;
    margin-top:2%;
    color:#fd602c;
}
.headText{
    padding:30px 0px;
    color:#100;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.headText>h1{
    font-size:40px;
}
.headText>p{
 font-size:19px;
 color:#727272;
 margin:1% 0%;
}
.headText>p>span{
    color:#fd602c
}
.collections{
    padding:0px;
    margin:0px;
    width:100%;
    height:550px;
}
.collect1{
    display:flex;
    justify-content: flex-start;
}
.collect3{
    display: flex;
    justify-content:flex-end;
}
.collect2{
    display: flex;
    justify-content:center;
}
.imageCollect{
    width:93%;
    height:100%;
    overflow: hidden;
}
.imageCollect>div:nth-child(1), .imageCollect>div:nth-child(2){
    width:100%;
}
.imageHover{
    transition: all 0.5s;
    height:60%;
}
.imageHover>img{
    width:100%;
    height:100%;
}
.textHover{
    height:40%;
    display :flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:11%;
    border-radius:4px;
    z-index: 2;
    background-color: #fff;
    transition: all 0.4s;
}
.textHover>h1{
    font-size:23px;
}
.textHover>h4{
    font-size:22px;
    color:#fd602c;
    margin:6% 0%;
}
.textHover>p{
    color:rgba(77, 75, 75, 0.747);
    font-size:16px;
    text-align: center
}
.textHover>ul{
    display:flex;
    width: 100%;
    height:50px;
     padding-top:2%;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;
}
.textHover>ul>li{
    margin:5%;
}
.textHover>ul>li>a{
    color:black
}
.imageCollect:hover .imageHover{
    transform: scale(1.1)
}
.imageCollect:hover .textHover{
    transform:translate(0%, -30%);
}
.hoverList{
    opacity:0;
}
.imageCollect:hover .hoverList{
    opacity:1;
}
 /* Footer */
 footer{
    background-color: #101010;
  }
  .footPart{
      width:100%;
      height:55vh;
      padding:0;
  }
  .firstFoot>div:nth-child(1){
  width:100%;
  height:17%;
  }
  .firstFoot>div:nth-child(1)>img{
   background-size: cover;
  }
  .firstFoot>div:nth-child(2){
      height:75%;
      display:flex;
      flex-direction: column;
      justify-content: space-around;
      font-size:15px;
      color:#727272;
  }
  .firstFoot>div:nth-child(2)>p{
      font-size:17px;
  }
  .firstFoot>div:nth-child(2)>i>span{
      margin-left:4%;
  }
  .secondTop{
      width:100%;
      height:17%;
      color:white;
      font-size:23px;
  }
  .secondTop>p{
      width:10%;
      height:3px;
      background-color: #fff;
      margin-top:2%;
  }
  .secondBottom{
      width:100%;
      height:80%;
  }
  .secondBottom>div:nth-child(1){
      width:100%;
      height:48%;
      display: flex;
      border-bottom:1px solid #49474773;
  }
  .secondBottom>div:nth-child(2){
      width:100%;
      height:50%;
      display: flex;
  }
  .imgFoot{
      width:40%;
      height:100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
  }
  .imgFoot>div{
      width:80%;
      height:60%;
      border:1px solid transparent;
      border-radius:50%;
      overflow: hidden;
  }
  .imgFoot>div>img{
      width:100%;
      height:100%;
  }
  .textFoot{
      width:60%;
      height:100%;
      display: flex;
      flex-direction:column;
      justify-content: center;
     
  }
  .textFoot>h5>a{
      color:white;
      text-decoration: none;
      transition: all 0.4s;
      font-size:19px;
  }
  .textFoot>h5>a:hover{
      color:#5a5959;
  }
  .textFoot>h6{
      margin:6% 0%;
      color:#727272;
      font-size:16px;
  }
  .textFoot>p{
      color:#494747;
      font-size:15px;
  }
  .generalBtn{
      width:100%;
      height:15%;
      display:flex;
      align-items: center;
  }
  .generalBtn>a{
      padding:3.5%;
      border:1px solid #494747;
      background-color: transparent;
      color:#727272;
      text-decoration: none;
      margin-left:6%;
      transition: all 0.5s;
  }
  .generalBtn>a:hover{
      border:1px solid #fd602c;
      color:#fd602c;
  }
  .design{
      border:1px solid #fd602c !important;
      color:#fd602c !important;
  }
  .footList>li>a{
      text-decoration: none;
      color:#727272;
      transition: all 0.5s;
  }
  .footList>li>a:hover{
      color:#fff;
  }
  .footList>li{
      margin-top:6%;
  }
  .footList>li>i{
      color:#727272;
      margin-right:3%;
  }
  .endOf{
      background-color: #1a1a1a;
      width:100%;
      height:30vh;
  }
  
  .lastDiv>div{
      height:100%;
      width:100%;
  }
  .lastList{
      display: flex;
      justify-content: center;
      position: relative;
  }
  .lastList>li{
      margin:0.6%;
      border:1px solid transparent;
      border-radius:50%;
      padding:1.1%;
      background-color: white;
      display:flex;
      align-items: center;
      justify-content: center;
      transition: all 0.4s;
  }
  .lastList>li>a{
      color:#fd602c;
  }
  .lastList>li:hover .lastIcon{
      color:white !important;
  }
  .lastList>li:hover{
      background-color: #fd602c;
  }
  .finish{
      position: absolute;
      text-align:center;
  }
  .finish>p{
      font-size:20px;
      color:#727272;
  }
  /* FINISHED */