.imagePart{
    width:100%;
    height:250px;
    overflow: hidden;
}
.imagePart>img{
    width:100%;
    position: relative;
}
.greyLight{
    width:100%;
    height:100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.445);
    z-index: 3;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
}
.greyLight>h1{
    font-size:27px;
    font-weight: bold;
}
.greyLight>p{
    font-size:18px;
    margin-top:1%;
}
.comeBack{
    width:100%;
    border-bottom:1px solid #7272721c;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.comeBack>h1{
    font-size:25px;
}
.comeBack>ul{
    display: flex;
    color:#727272;
}
.comeBack>ul>li>a{
    color:black;
    text-decoration:none;
}
.eight{
    height:2000px;
    width:100%;
    border:1px solid navy;
}
.four{
    height:2000px;
    width:100%;
    border:1px solid green;
}
.all-main-container{
    width:100%;
    height:100%;
    border:1px solid red;
}
.firstContainer{
    width:100%;
    height:30%;
    border:5px solid black;
}
.secondContainer{
    width:100%;
    height:35%;
   
}
.thirdContainer{
    width:100%;
    height:35%;

}
/* Opacity Effect */
.main-effect{
    width:100%;
    height:100%;
}
.opacity-effect{
    border-bottom:1px solid #7272724f;
}
.opacity-buttons{
    width:100%;
    height:20%;
}
.opacity-button{
    border: 1px solid #72727250;
    background-color:white;
    padding: 15px 20px;
    font-size:21px;
    color:#444;
    cursor: pointer;
    outline: none;
}
.diffrent-Btn{
    color:white;
    background-color:#fd602c;
}
.diffrent-Btn:hover{
    color:white !important;
}
.opacity-button:hover{
    color:#fd602c;
}
.changeDiv{
    width:100%;
    height:80%;
    position: relative;
}
.change {
    width:100%;
    height:100%;
    position: absolute;
    animation: tab-opacity 0.4s;
    display: flex;
    flex-direction: row;
}
#button1{
    display:flex;
    z-index: 5;
}
@keyframes tab-opacity {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.dis-none{
    display: none;
}
.first-change-text{
    width:100%;
    height:100%;
}
.first-change-content{
    width:100%;
    height:100%;
}
.first-change-content>div:nth-child(1){
    width:100%;
    height:80%;
    border:1px solid rgba(22, 22, 22, 0.062);
    color:#727272e1;
}
.first-change-content>div:nth-child(1)>p{
    font-size:17px;
}
.opacity-change-Btn{
    text-decoration: none;
    padding:14px 26px;
    background-color:#fd602c;
    color:white;
    border-radius:3px;
}
.opacity-change-Btn:hover{
    background-color:black;
} 
.absolute-Btn{
    width:100%;
    height:20%;
    display:flex;
    align-items: center
}
.change-list>li{
margin:15px 0px 0px 0px;
}
.change-list>li>i{
    color:#fd602c;
    margin-right:10px;
}
.little-change-text{
    height:80%;
}
.little-change-text>div>h1{
    font-size:23px;
    margin-bottom:13px;
}
/* Accordion */
.accord{
    width:100%;
}
.accordFirst{
    display:flex;
    flex-direction:column;
}
.contain-accord{
    width:100%;
  
}
.accordion {
    background-color: #fff;
    color: #444;
    cursor: pointer;
    padding: 13px;
    width: 100%;
    border: 1px solid #72727250;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    display:flex;
    justify-content: flex-start;
    background-color: #7272720e;
  }
  .accordion:before {
    content: '+';
    color: #777;
    font-weight: bold;
    margin-right:5%;
  }
  .active:before {
    content: "-";
  }
  .panel {
    padding: 10px 18px;
    background-color: white;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.4s;
    color: #727272;
  }
  /* .panel-first{
     max-height:300px;
  } */
  .panel-second>p{
    padding-top:15px;
}
.panel-third>p{
    padding-top:15px;
}
.main-four{
    width:100%;
    height:100%;
    border:3px solid yellow;
}
.four-list{
    width:100%;
    height:14%;

}
.four-list>h1{
    font-size:22px;
    margin:0px 0px 10px 5px;
}
.four-list>ul{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.four-list>ul>li{
    margin-top:15px;
    border-top:1px solid #72727250;
    padding-top:13px;
}
.four-list>ul>li>a{
    color:#727272e5;
    text-decoration: none;
}
.four-list>ul>li>a:hover{
    color:#fd602c;
}
.act{
    color:#fd602c !important;
}
.four-input{
    width:100%;
    height:5%;
}
.four-input>h1{
    font-size:22px;
    margin:7px 0px 15px 0px;
}
.four-input>input{
    width:260px;
    height:40px;
    border:1px solid #72727250;
}
.four-input>button{
height:40px;
width:66px;
margin-left:-6px;
background-color: white;
border:1px solid #72727250;
}
.four-image{
    width:100%;
    height:18%;
}
.four-image>h1{
    font-size:22px;
    margin:7px 0px 15px 0px; 
}
.four-image>div{
    width:100%;
    height:86%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.general-four{
    width:100%;
    height:30%;
    display: flex;
}
.general-four>div:nth-child(1){
    width:27%;
    height:100%;
}
.four-image>div>div>div>img{
    width:100%;
    height:100%;
}
.general-four>div:nth-child(2){
    margin-left:15px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.general-four>div:nth-child(2)>h5{
    font-size:18px;
}
.general-four>div:nth-child(2)>h5>a{
    color:#444;
    text-decoration: none;
}
.general-four>div:nth-child(2)>h5>a:hover{
    color:#fd602c;
}
.PSD{
    color:#fd602c !important;
}
.general-four>div:nth-child(2)>h6{
color:#666;
}
.general-four>div:nth-child(2)>p{
    font-size:13px;
    color:#999;
}