@media only screen and (max-width: 768px){
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }


  .leftHeader{
width:100%;
}
.rightHeader{
    width:100%;
    }
    .contentImage{
        width:100%;
    }
    .videoPart>h1{
        font-size:0.6em;
    }
    .collections{
      justify-content: center;
    }
    .letter>p{
        font-size:0.5em;
    }
    .innerParallax>h6{
      font-size:1em !important;
    }
    .paraBack{
      font-size:2.6em !important;
    }
    .logoZone{
      width:33% !important;
    }
    .envato{
      font-size:0.1em
    }
    .form-container{
      width:100%;
    }
  .blog-content>h1>a{
    font-size:16px;
  }
  .blog-content>p{
    font-size:13px;
  }
  .col-blog{
    width:100%;
  }
  .contact-text p{
    font-size:13px;
  }
  .contact-text h1{
    font-size:15px;
  }
 .border-list{
   width:30px !important;
   height:30px !important;

 }
.finish p{
  font-size:13px !important;
}

}

@media only screen and (max-width: 1100px){
        .listPart>a {
            font-size: 0.6em;
        }
        .foto{
            width:100%;
        }
        .transformate{
            display:none;}
    }

      @media screen and (max-width: 998px) {
        .listPart.responsive{
          position: relative;
        }
        .listPart.responsive .icon {
          position: absolute;
          right: 0;
          top: 0;
        }
        .imageCollect{
        width:100%;
        }
        .envato{
          font-size:0.5em
        }
        .topnav a:not(:first-child) {
          display: none;
        }
        .topnav a.icon {
          float: right;
          display: block;
        }
        /* .fixed-nav{
          position: relative;
        } */
      }