@media only screen and (max-width: 768px){
.leftHeader{
width:100%;
}
.rightHeader{
    width:100%;
    }
    .contentImage{
        width:100%;
    }
    .videoPart>h1{
        font-size:0.6em;
    }
    .collections{
      justify-content: center;
    }
    .letter>p{
        font-size:0.5em;
    }
    .innerParallax>h6{
      font-size:1em !important;
    }
    .paraBack{
      font-size:2.6em !important;
    }
    .logoZone{
      width:33% !important;
    }
    .envato{
      font-size:7px
    }
}
@media only screen and (max-width: 1100px){
        .listPart>a {
            font-size: 0.6em;
        }
        .foto{
            width:100%;
        }
        .transformate{
            display:none;}
    }
    @media screen and (max-width: 992px) {
        .listPart a:not(:first-child) {display: none;}
        .listPart a.icon {
          float: right;
          display: block;
        }
      }
      @media screen and (max-width: 992px) {
        .listPart.responsive{
          position: relative;
        }
        .listPart.responsive .icon {
          position: absolute;
          right: 0;
          top: 0;
        }
        .imageCollect{
        width:100%;
        }
        .envato{
          font-size:0.5em
        }
      }