body{
    margin:0px;
    padding:0px;
}
    /* Header */
header{
        border-bottom:1px solid rgba(68, 68, 68, 0.164);
  
    }
    
.scroll-top{    
    position: fixed;
    right: 35px;
    bottom: 40px;
    width: 40px;
    height: 40px;
    color: #fff;
    background: #fd602c;
    line-height: 40px;
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
    display: none;
    opacity: 0.5;
}
.banner{
    background-color: #fff;
    color:rgba(68, 68, 68, 0.575);
    
}
.leftHeader, .rightHeader{
    display:flex;
    justify-content: center;
    padding:20px 0px;
}
.leftHeader>p{
    margin-right:10px;
    padding:6px 10px;
  
}
.listUl{
    display: flex;
    justify-content: center;
}
.listUl>li{
    margin-left:10px;
    padding:6px 10px;
}
.listUl>li>a{
    transition: all 0.6s;
    color:rgba(68, 68, 68, 0.575);
}
.listUl>li>a:link{
    text-decoration: none;
}
.listUl>li>a:hover{
    text-decoration: none;
    color:black;
    cursor: pointer;
}
.listUl>li:nth-child(1), .listUl>li:nth-child(2) {
    border-right:1px solid rgba(68, 68, 68, 0.575);
    padding: 6px 10px;
}
    /* Main */
    /* Logo Part */
.logoPart, .listPart{
    padding:20px 0px;
    display:flex;
    justify-content: center;
}
.logoPart img{
    width:100%;
    height:100%;
}
.logoPart img:hover{
    cursor: pointer;
}
    /* topnav */
.listPart {
    position: relative;
    }
    .listPart>a{
    float: left;
    display: block;
    color:rgba(68, 68, 68, 0.692);
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
    font-size: 17px;
    }
    .listPart>a:hover{
    color: #fd602c;
    }
    .active{
    color: #fd602c !important;
}
    .listPart>.icon {
    display: none;
    color:#666;
}
    .listPart.responsive a {
    float: none;
    display: block;
}
.row-handle{
    position: relative;
}

.handleHome, .handleAbout, .handleTeam, .handleCareers, 
.handleService, .handlePortfolio, .handleFaq, .handleContact, .handleRegister, .handleBlog{
    position: absolute;
    top:100%;
    z-index: 50;
    background-color: white;
    opacity:0;
    color:#727272;
    border-top:1px solid rgba(68, 68, 68, 0.171);
}
.handleHome{
    width:15%;
    height:340px;
    left:550px;
}
.handleHome>ul{
    display:flex;
    flex-direction: column;
    text-align: center
}
.handleHome>ul>li{
    margin-top:8%;
}
.hoverHome:hover .handleHome{
opacity:1
}
.handleAbout{
    width:86%;
    height:430px;
    left:100px;
    display:flex;
}
.handleAbout>div{
    width:33%;
    height:100%;
}
.sameList>li{
    margin-top:5%;
}
.sameList>li>p{
color:black;
margin-left:6%;
}
.sameList>li>i{
    margin:0% 3% 0% 6%;
}
.sameList>li>span{
    font-size:13px;
    background-color: black;
    color:white;
    margin-left:2%;
}
.hoverAbout:hover .handleAbout{
opacity:1
}
.handleTeam{
    width:85%;
    height:265px;
    left:100px;
    display:flex;
}
.handleTeam>div{
    width:25%;
    height:100%;
}
.hoverTeam:hover .handleTeam{
opacity:1
}
.handleService{
    width:90%;
    height:300px;
    border:1px solid red;
    position: absolute;
    top:100%;
    z-index: 50;
    margin-left:6%;
    background-color: white;
    opacity:0;
}
.hoverSevice:hover .handleService{
opacity:1
}
.handleCareers{
    width:90%;
    height:300px;
    border:1px solid red;
    position: absolute;
    top:100%;
    z-index: 50;
    margin-left:6%;
    background-color: white;
    opacity:0;
}
.hoverCareers:hover .handleCareers{
opacity:1
}
.handleFaq{
    width:90%;
    height:300px;
    border:1px solid red;
    position: absolute;
    top:100%;
    z-index: 50;
    margin-left:6%;
    background-color: white;
    opacity:0;
}
.hoverFaq:hover .handleFaq{
opacity:1
}
.handleRegister{
    width:90%;
    height:300px;
    border:1px solid red;
    position: absolute;
    top:100%;
    z-index: 50;
    margin-left:6%;
    background-color: white;
    opacity:0;
}
.hoverRegister:hover .handleRegister{
opacity:1
}
.handlePortfolio{
    width:90%;
    height:300px;
    border:1px solid red;
    position: absolute;
    top:100%;
    z-index: 50;
    margin-left:6%;
    background-color: white;
    opacity:0;
}
.hoverPortfolio:hover .handlePortFolio{
opacity:1
}
.handleBlog{
    width:90%;
    height:300px;
    border:1px solid red;
    position: absolute;
    top:100%;
    z-index: 50;
    margin-left:6%;
    background-color: white;
    opacity:0;
}
.hoverBlog:hover .handleBlog{
opacity:1
}
.handleContact{
    width:90%;
    height:300px;
    border:1px solid red;
    position: absolute;
    top:100%;
    z-index: 50;
    margin-left:6%;
    background-color: white;
    opacity:0;
}
.hoverContact:hover .handleContact{
opacity:1
}
.imagePart{
    width:100%;
    height:250px;
    overflow: hidden;
}
.imagePart>img{
    width:100%;
    height:150%;
    position: relative;
}
.greyLight{
    width:100%;
    height:100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.445);
    z-index: 3;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
}
.greyLight>h1{
    font-size:27px;
    font-weight: bold;
}
.greyLight>p{
    font-size:18px;
    margin-top:1%;
}
.comeBack{
    width:100%;
    border-bottom:1px solid #7272721c;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.comeBack>h1{
    font-size:25px;
}
.comeBack>ul{
    display: flex;
    color:#727272;
}
.comeBack>ul>li>a{
    color:black;
    text-decoration:none;
}





 /* Footer */
 footer{
    background-color: #101010;
  }
  .footPart{
      width:100%;
      height:300px;
  }
  .firstFoot>div:nth-child(1){
  width:100%;
  height:17%;
  }
  .firstFoot>div:nth-child(1)>img{
   background-size: cover;
  }
  .firstFoot>div:nth-child(2){
      height:75%;
      display:flex;
      flex-direction: column;
      justify-content: space-around;
      font-size:15px;
      color:#727272;
  }
  .firstFoot>div:nth-child(2)>p{
      font-size:17px;
  }
  .firstFoot>div:nth-child(2)>i>span{
      margin-left:4%;
  }
  .secondTop{
      width:100%;
      height:17%;
      color:white;
      font-size:23px;
  }
  .secondTop>p{
      width:10%;
      height:3px;
      background-color: #fff;
      margin-top:2%;
  }
  .secondBottom{
      width:100%;
      height:80%;
  }
  .secondBottom>div:nth-child(1){
      width:100%;
      height:48%;
      display: flex;
      border-bottom:1px solid #49474773;
  }
  .secondBottom>div:nth-child(2){
      width:100%;
      height:50%;
      display: flex;
  }
  .imgFoot{
      width:40%;
      height:100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
  }
  .imgFoot>div{
      width:80%;
      height:60%;
      border:1px solid transparent;
      border-radius:50%;
      overflow: hidden;
  }
  .imgFoot>div>img{
      width:100%;
      height:100%;
  }
  .textFoot{
      width:60%;
      height:100%;
      display: flex;
      flex-direction:column;
      justify-content: center;
     
  }
  .textFoot>h5>a{
      color:white;
      text-decoration: none;
      transition: all 0.4s;
      font-size:19px;
  }
  .textFoot>h5>a:hover{
      color:#5a5959;
  }
  .textFoot>h6{
      margin:6% 0%;
      color:#727272;
      font-size:16px;
  }
  .textFoot>p{
      color:#494747;
      font-size:15px;
  }
  .generalBtn{
      width:100%;
      height:15%;
      display:flex;
      align-items: center;
  }
  .generalBtn>a{
      padding:3.5%;
      border:1px solid #494747;
      background-color: transparent;
      color:#727272;
      text-decoration: none;
      margin-left:6%;
      transition: all 0.5s;
  }
  .generalBtn>a:hover{
      border:1px solid #fd602c;
      color:#fd602c;
  }
  .design{
      border:1px solid #fd602c !important;
      color:#fd602c !important;
  }
  .footList>li>a{
      text-decoration: none;
      color:#727272;
      transition: all 0.5s;
  }
  .footList>li>a:hover{
      color:#fff;
  }
  .footList>li{
      margin-top:6%;
  }
  .footList>li>i{
      color:#727272;
      margin-right:3%;
  }
  .endOf{
      background-color: #1a1a1a;
      width:100%;
      height:200px;
      padding:0px;
      margin:0px;
  }
  .lastDiv{
      width:100%;
      height:100%;
  }
  .finish{
    width:80%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:auto;
  }
  .lastList{
      display: flex;
  }
  .lastList i{
   color:#fd602c;
  }
  .border-list{
      width:50px;
      height:50px;
      border:1px solid transparent;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      transition: all 0.5s;
      margin:0px 5px;
  }
  .border-list:hover{
      background-color: #fd602c;
  }
  .border-list:hover i{
    color:white;
  }
  .dribbble-icon{
      background-color: #fd602c !important;
  }
  .dribbble-icon i{
      color:white !important;
  }
  .finish>p{
      font-size:19px;
      color:#777;
      margin-top:13px;
  }
  
  /* FINISHED */