/* Header */
.banner{
    background-color: #fd602c;
    color:white;
}
.container-fluid, .row , .col-6{
    padding:0px;
    margin:0px;
}
.leftHeader, .rightHeader{
   display:flex;
   justify-content: center;
   padding:20px 0px;
}
.leftHeader>p{
    margin-right:10px;
    padding:6px 10px;
}
.listUl{
    display: flex;
    justify-content: center;
}
.listUl>li{
    margin-left:10px;
    padding:6px 10px;
}
.listUl>li>a{
    transition: all 0.6s;
    color:white;
}
.listUl>li>a:hover{
    text-decoration: none;
    color:black;
    cursor: pointer;
}
.listUl>li:nth-child(1), .listUl>li:nth-child(2) {
    border-right:1px solid white;
    padding: 6px 10px;
}
/* Main */
/* Logo Part */
.logoPart, .listPart{
    padding:20px 0px;
    display:flex;
    justify-content: center;
}
.logoPart img{
    width:100%;
    height:100%;
}
.logoPart img:hover{
    cursor: pointer;
}
.listPart>ul{
    display: flex;
    padding:10px;
}
.listPart>ul>li{
    padding-left:15px;
    font-size:20px;
}
.listPart>ul>li>a{
    color:#777;
    transition: all 0.6s;
    font-weight: normal;
}
.listPart>ul>li:nth-child(1)>a{
    color:#fd602c !important;
}
.listPart>ul>li>a:hover{
    text-decoration: none;
    color:#fd602c;
}
/* slider */
.slider {
    position: relative;
    height: 100Vh;
    width: 100%;
    overflow: hidden;
}
.mainSlider{
    position: relative;
    height: 100%;
    transition: all 0.7s;
}
.slider .slidePart {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider .slidePart img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sliderBtn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}
.sliderBtn:focus{
    outline-style: none;
}
.sliderBtn.prevBtn{
    left: 10px;
}
.sliderBtn.nextBtn{
    right: 10px;
}
.slider-content {
    position: absolute;
    color: #fff;
    font-size: 30px;
}
.headText{
    padding:30px 0px;
    color:#100;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headText>h5{
    font-size:23px;
    word-spacing: 13px;
}
.headText>h1{
    font-size:45px;
    margin:2px 0px 10px 0px;
}
.headText>h1>span{
    color:#fd602c;
}
.headText>p{
    width:3%;
    height:2px;
    background-color: #100;
}
.imageDiv{
    width: 38%;
    height: 92%;
   border:1px solid transparent;
   border-radius: 50%;
   overflow: hidden;
   position: relative;
}
.imageDiv>img{
    width:100%;
    height:100%;
}
.shadowDiv{
position: absolute;
width: 36%;
height: 92%;
background-color: rgba(253, 96, 44, 0.9);
border:1px solid transparent;
border-radius: 50%;
z-index: 1;
transform:translate(50%, 0%);
display: flex;
justify-content:center;
align-items: center;
}
.shadowDiv>p{
    color:white;
    font-size:24px;
}
.paragraph{
    width:70%;
    height:100%;
    display: flex;
    justify-content: flex-end;
    padding-right:15px;
}
.paragraph>div{
    width:60%;
    height:100%;
    color:#777;
    font-size:18px;
    padding:5px 0px;
}
.paragraph>div>a{
    color:#fd602c;

}
.paragraph>div>a:hover{
    color:#222;
    text-decoration: none;
}
.contentImage{
    display:flex;
}
.foto{
    width:100%;
    height:100vh;
    margin:0px;
    padding:0px;
}
.foto>img{
    width:100%;
    height:100%;
 }
.transformate{
    position: relative;
    background-color: rgba(153, 153, 153, 0.11);
}
.transformateDiv{
    width:120%;
    height:86%;
    background-color: white;
    position: absolute;
    transform:translate(-25%, 11%);
    padding:auto;
    margin:auto;
    display:flex;
    justify-content: center;
    align-items: center; 
}
.offer{
width:85%;
height:80%;
display:flex;
flex-direction: column;
justify-content: space-around;
}
.differ{
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.differ>p{
    width:6%;
}
.offer>ul>li{
    margin-bottom:12px;
}
.offer>ul>li>i{
    color:#fd602c;
    margin-right:7px;
}
.readMore{
    width:150px; 
    padding:13px 10px ;
    text-align: center;
    border:1px solid transparent;
    border-radius:20px;
    background-color: #fd602c;
    color:white;
    transition: all 0.7s;
}
.readMore:hover{
    text-decoration: none;
    background-color: #111;
    color:white;
} 