body{
    margin:0px;
    padding:0px;
}
/* Header */
.banner{
    background-color: #fd602c;
    color:white;
}
.leftHeader, .rightHeader{
   display:flex;
   justify-content: center;
   padding:20px 0px;
}
.leftHeader>p{
    margin-right:10px;
    padding:6px 10px;
}
.listUl{
    display: flex;
    justify-content: center;
}
.listUl>li{
    margin-left:10px;
    padding:6px 10px;
}
.listUl>li>a{
    transition: all 0.6s;
    color:white;
}
.listUl>li>a:link{
    text-decoration: none;
}
.listUl>li>a:hover{
    text-decoration: none;
    color:black;
    cursor: pointer;
}
.listUl>li:nth-child(1), .listUl>li:nth-child(2) {
    border-right:1px solid white;
    padding: 6px 10px;
}
/* Main */
/* Logo Part */
.logoPart, .listPart{
    padding:20px 0px;
    display:flex;
    justify-content: center;
}
.logoPart img{
    width:100%;
    height:100%;
}
.logoPart img:hover{
    cursor: pointer;
}
/* topnav */
.listPart {
    overflow: hidden;
    }
    .listPart>a{
    float: left;
    display: block;
    color:rgba(34, 34, 34, 0.781);
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
    font-size: 17px;
    }
    .listPart>a:hover{
    color: #fd602c;
    }
    .active{
    color: #fd602c !important;
    }
    .listPart>.icon {
    display: none;
    color:#666;
    }
    .listPart.responsive a {
        float: none;
        display: block;
      }
/* slider */
.slider {
    position: relative;
    height: 100Vh;
    width: 100%;
    overflow: hidden;
}
.mainSlider{
    position: relative;
    height: 100%;
    transition: all 0.7s;
}
.slider .slidePart {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider .slidePart img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sliderBtn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}
.sliderBtn:focus{
    outline-style: none;
}
.sliderBtn.prevBtn{
    left: 10px;
}
.sliderBtn.nextBtn{
    right: 10px;
}
.slider-content {
    position: absolute;
    color: #fff;
    font-size: 30px;
}
.headText{
    padding:30px 0px;
    color:#100;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headText>h5{
    font-size:23px;
    word-spacing: 13px;
}
.headText>h1{
    font-size:45px;
    margin:2px 0px 10px 0px;
}
.headText>h1>span{
    color:#fd602c;
}
.headText>p{
    width:3%;
    height:2px;
    background-color: #100;
}
.imageDiv{
    width: 38%;
    height: 92%;
   border:1px solid transparent;
   border-radius: 50%;
   overflow: hidden;
   position: relative;
}
.imageDiv>img{
    width:100%;
    height:100%;
}
.shadowDiv{
position: absolute;
width: 36%;
height: 92%;
background-color: rgba(253, 96, 44, 0.9);
border:1px solid transparent;
border-radius: 50%;
z-index: 1;
transform:translate(50%, 0%);
display: flex;
justify-content:center;
align-items: center;
}
.shadowDiv>p{
    color:white;
    font-size:24px;
}
.paragraph{
    width:70%;
    height:100%;
    display: flex;
    justify-content: flex-end;
    padding-right:15px;
}
.paragraph>div{
    width:60%;
    height:100%;
    color:#777;
    font-size:18px;
    padding:5px 0px;
}
.paragraph>div>a{
    color:#fd602c;
}
.paragraph>div>a:link{
    text-decoration: none;
}
.paragraph>div>a:hover{
    color:#222;
}
.contentImage{
    display:flex;
}
.foto{
    width:100%;
    height:100vh;
    margin:0px;
    padding:0px;
}
.foto>img{
    width:100%;
    height:100%;
 }
.transformate{
    position: relative;
    background-color: rgba(153, 153, 153, 0.11);
}
.transformateDiv{
    width:120%;
    height:86%;
    background-color: white;
    position: absolute;
    transform:translate(-25%, 9%);
    padding:auto;
    margin:auto;
    display:flex;
    justify-content: center;
    align-items: center; 
}
.offer{
width:85%;
height:80%;
display:flex;
flex-direction: column;
justify-content: space-around;
}
.differ{
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.differ>p{
    width:6%;
}
.offer>ul>li{
    margin-bottom:12px;
}
.offer>ul>li>i{
    color:#fd602c;
    margin-right:7px;
}
.readMore{
    width:20%; 
    padding:13px 10px ;
    text-align: center;
    border:1px solid transparent;
    border-radius:20px;
    background-color: #fd602c;
    color:white;
    transition: all 0.7s;
}
.readMore:link{
    text-decoration: none;
}
.readMore:hover{
    background-color: #111;
    color:white;
} 
.imgFull{
    padding:20px;
}
.imgFull>img{
    width:100%;
    height:100%
}
.contentSecond{
    display:flex;
    align-items: center;

}
.contentSecond>div{
    width:100%;
    height:75%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.contentSecond>div>div:nth-child(1)>h1{
    font-size:40px;
    font-weight: bold;
}
.contentSecond>div>div:nth-child(1)>h1>span{
    color:#fd602c;
}
.contentSecond>div>div:nth-child(1)>h6{
font-size: 23px;
margin:18px 0px;
}
.contentSecond>div>div:nth-child(1)>p{
    font-size:15px;
    color:#666;
}
.contentSecond>div>div:nth-child(2){
    display:flex;
    margin:13% 0%;
}
.iconDiv{
    font-size:22px;
    margin-right:13px;
    border:1px solid #888;
    border-radius: 50%;
    padding:15px;;
}
.view{
    padding:10px 20px;
}  
.video{
    padding:0px;
    margin:0px;
}
iframe{
    position: relative;
}
.videoPart{
    position: absolute;
    width:100%;
    z-index: 2;
    color:white;
    top:20%;
    font-size:30px;
    text-align: center;
}
.collections{
    padding:0px;
    margin:0px;
    width:100%;
    height:80vh;
}
.collect1{
    display:flex;
    justify-content: flex-start;
}
.collect3{
    display: flex;
    justify-content:flex-end;
}
.collect2{
    display: flex;
    justify-content:center;
}
.imageCollect{
    width:93%;
    height:100%;
    overflow: hidden;
}
.imageCollect>div:nth-child(1), .imageCollect>div:nth-child(2){
    width:100%;
    height:50%;
}
.imageHover{
    transition: all 0.5s;
}
.imageHover>img{
    width:100%;
    height:100%;
}
.textHover{
    display :flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:11%;
    border:1px solid rgba(119, 119, 119, 0.342);
    border-radius:4px;
    z-index: 2;
    background-color: #fff;
    transition: all 0.5s;
}
.textHover>h1{
    font-size:23px;
}
.textHover>h4{
    font-size:22px;
    color:#fd602c;
    margin:6% 0%;
}
.textHover>p{
color:rgba(77, 75, 75, 0.747);
font-size:16px;
}
.imageCollect:hover .imageHover{
    transform: scale(1.1)
}
.imageCollect:hover .textHover{
    transform:translate(0%, -20%);
}
.iconBar{
    width:100%;
    height:100%;
    display:flex;
    justify-content: space-around;
}
.iconBar>div{
    width:28%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.iconBar>div>i{
    border:1px solid rgba(119, 119, 119, 0.295);
    padding:15%;
    border-radius:50%;
    color:#fd602c;
    font-size:25px;
}
.iconBar>div>i:hover{
    color:white;
    background-color: #fd602c;
}
.iconBar>div>p{
color:rgba(102, 102, 102, 0.911);
font-size:110%;
}
.iconBar>div>h3{
    margin:13% 0%;
    font-size: 126%;
}
.change>i{
background-color: #fd602c;
color:white !important;
}
.change>h3{
    color:#fd602c !important;
}
.new{
    height:90%;
    transform:translate(-25%, 6%);
}
.more{
    margin-top:5%;
}
.pic{
    width:100%;
    height:65vh;
    padding:0px;
    position: relative;
    overflow: hidden;
}
.opacity{
    position: absolute;
    width:100%;
    height:100%;
    background-color:rgba(29, 26, 26, 0.884);
    opacity:0;
    color:white;
}
.opacity>div{
    width:50%;
    height:15vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-left:5%;
}
.opacity:hover{
    opacity: 1;
}
.pic>img{
    width:100%;
    height:100%;
    transition: all 0.4s;
}
.opacity:hover .jk{
    transform: scale(1.1)
}
.inputPart{
    background-color: #fd602c;
}
.letter{
    display:flex;
    flex-direction: column;
    align-items: center;
    color:white;
    font-size:21px;
}
.letter>h1{
    font-size:35px;
    margin-bottom:1.5%;
}
.emailPart{
text-align: center;
}
.sub{
    padding:1.9%;
    margin-left:-0.4%;
    cursor: pointer;
    transition: all 0.6s;
    border:none;
}
.sub:hover{
color:white;
background-color: black;
}
.emailInput{
   width:80%;
   padding:1.8% 0%;
   height:50%;
   border:1px solid rgba(255, 255, 255, 0.336);
   background-color: transparent;
}
.number{
    width:100%;
    height:60vh;
    padding:0px;
    display: flex;
    justify-content: center;
}
.numberContent{
    width:90%;
}
.numberPic{
    width:100%;
    height:60%;
}
.numberPic>img{
    width:100%;
    height:100%;
    transform:scale(0.46, 0.85)
}
.numberText{
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color:#666;
}
.numberText>h3{
    margin:8% 0%;
    font-size:26px;
    color:black;
}
